page-login {

}

.navbarLogo{
    
  /*  display: inline-block;
    min-width: 20px;
    min-height: 20px;
    background: transparent;
    contain: none;
    margin-top: 10px;*/

 /*   width: 75%;
    height: 40%;*/
} 
.main {
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 0%;
}